@font-face {
  font-family:  'Roboto';
  font-weight:  100;
  src:          url('./tff/Roboto-Thin.ttf');
}

@font-face {
  font-family:  'Roboto';
  font-weight:  100;
  font-style:   italic;
  src:          url('./tff/Roboto-ThinItalic.ttf');
}

@font-face {
  font-family:  'Roboto';
  font-weight:  200;
  src:          url('./tff/Roboto-ExtraLight.ttf');
}

@font-face {
  font-family:  'Roboto';
  font-weight:  200;
  font-style:   italic;
  src:          url('./tff/Roboto-ExtraLightItalic.ttf');
}

@font-face {
  font-family:  'Roboto';
  font-weight:  300;
  src:          url('./tff/Roboto-Light.ttf');
}

@font-face {
  font-family:  'Roboto';
  font-weight:  300;
  font-style:   italic;
  src:          url('./tff/Roboto-LightItalic.ttf');
}

@font-face {
  font-family:  'Roboto';
  font-weight:  400;
  src:          url('./tff/Roboto-Regular.ttf');
}

@font-face {
  font-family:  'Roboto';
  font-weight:  500;
  src:          url('./tff/Roboto-Medium.ttf');
}

@font-face {
  font-family:  'Roboto';
  font-weight:  500;
  font-style:   italic;
  src:          url('./tff/Roboto-MediumItalic.ttf');
}

@font-face {
  font-family:  'Roboto';
  font-weight:  600;
  src:          url('./tff/Roboto-SemiBold.ttf');
}

@font-face {
  font-family:  'Roboto';
  font-weight:  600;
  font-style:   italic;
  src:          url('./tff/Roboto-SemiBoldItalic.ttf');
}

@font-face {
  font-family:  'Roboto';
  font-weight:  700;
  src:          url('./tff/Roboto-Bold.ttf');
}

@font-face {
  font-family:  'Roboto';
  font-weight:  700;
  font-style:   italic;
  src:          url('./tff/Roboto-BoldItalic.ttf');
}

@font-face {
  font-family:  'Roboto';
  font-weight:  800;
  src:          url('./tff/Roboto-ExtraBold.ttf');
}

@font-face {
  font-family:  'Roboto';
  font-weight:  800;
  font-style:   italic;
  src:          url('./tff/Roboto-ExtraBoldItalic.ttf');
}

@font-face {
  font-family:  'Roboto';
  font-weight:  900;
  src:          url('./tff/Roboto-Black.ttf');
}

@font-face {
  font-family:  'Roboto';
  font-weight:  900;
  font-style:   italic;
  src:          url('./tff/Roboto-BlackItalic.ttf');
}